page {
  // background-color: #fff;
}

.question-page {

}

.part-item {
  background-color: #fff;
  margin-bottom: 20rpx;
  .part-item-title {
    padding-left: 30rpx;
    padding-top: 20rpx;
    padding-bottom: 20rpx;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
  }
}