/**app.wxss**/

@primaryColor: #ffa766;
@primaryFontColor: #000;
@helpFontColor: #666;
@borderColor: #ddd;
@borderHelpColor: #eee;

// 自定义的tabbar高度，如果是官方tabbar需要另外自定义
@tabbarHeight: calc(var(--tabbar-height, 50px) + env(safe-area-inset-bottom));


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
} 

button {
  padding: 0;
  margin: 0;
  line-height: 1;
  background: initial;
}

button:focus{
  outline: 0;
}

button::after{
  border: none;
}


page {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}